.git
.idea
.run
*.iml
ServiceData
scripts
DockerFile-gateway.yml

target
!tools-web/target/
!tools-web/target/**
tools-base/target
tools-data/target
tools-factory/target
tools-service/target
tools-web/target/*.jar.original

**/.DS_Store
**/*.log
tools-frontend/node_modules
tools-frontend/dist
tools-frontend/.vite
