<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title th:text="${title}"></title>
    <!-- 预加载，为什么预加载，因为m3u8需要命中缓存 -->
    <link rel="preconnect" href="douyincdn.com">
    <link rel="preconnect" href="douyinliving.com">
    <!-- css js -->
    <script src="../assets/js/zwplayer/zwplayer.js" th:src="@{/assets/js/zwplayer/zwplayer.js}"></script>
    <link href="../assets/css/custom-player.css" th:href="@{/assets/css/custom-player.css}" rel="stylesheet">
</head>
<body class="custom-container">
<div id="video-player" class="zw-video-player-custom">
    <meta name="referrer" content="never">
</div>
<script>
    let zw;
    const videoElement = document.getElementById('video-player');
    const qualityList = [];
    if (checkContentIsNotEmpty("[[${multi.getFullHd1()}]]")) {
        qualityList.push({
            name: '原画',
            url: '[[${multi.getFullHd1()}]]&mime_type=video_[[${type}]]',
            type: '[[${type}]]',
        });
    }
    if (checkContentIsNotEmpty("[[${multi.getHd1()}]]")) {
        qualityList.push({
            name: '超清',
            url: '[[${multi.getHd1()}]]&mime_type=video_[[${type}]]',
            type: '[[${type}]]',
            default: true,
        });
    }
    if (checkContentIsNotEmpty("[[${multi.getSd1()}]]")) {
        qualityList.push({
            name: '高清',
            url: '[[${multi.getSd1()}]]&mime_type=video_[[${type}]]',
            type: '[[${type}]]',
        });
    }
    if (checkContentIsNotEmpty("[[${multi.getSd2()}]]")) {
        qualityList.push({
            name: '标清',
            url: '[[${multi.getSd2()}]]&mime_type=video_[[${type}]]',
            type: '[[${type}]]',
        });
    }

    function checkContentIsNotEmpty(input) {
        if (input && input.length > 0) {
            if (input !== "null" && input !== "") {
                return true;
            }
        }
        return false;
    }

    function checkIsMobile() {
        return /Android|iPhone|iPad|iPod|BlackBerry|webOS|Windows Phone|SymbianOS|IEMobile|Opera Mini/i.test(navigator.userAgent);
    }

    function safeDestroyPlayer() {
        if (zw) {
            if (zw.paused) {
                zw.pause();
            }
            zw.destroy();
            zw = null;
            videoElement.innerHTML = '';
            console.log('[ZW player]', 'on destroy');
        }
    }

    function initZw() {
        safeDestroyPlayer();
        const info = {
            playerElm: 'video-player',
            url: qualityList,
            infoButton: true,
            optionButton: true,
            snapshotButton: true,
            controlbar: true,
            autoplay: true,
            isLive: true,
            onready: function () {
                console.log('[ZW player]', 'on ready');
            },
            onmediaevent: function (event) {
                console.log(event)
                switch (event.type) {
                    case 'play':
                        console.log('[ZW player]', '开始播放');
                        break;
                    case 'playing':
                        console.log('[ZW player]', '正在播放');
                        break;
                    case 'pause':
                        console.log('[ZW player]', '播放暂停');
                        break;
                    case 'seeking':
                        console.log('[ZW player]', '正在 seek');
                        break;
                    case 'seeked':
                        console.log('[ZW player]', 'seek 结束');
                        break;
                    case 'waiting':
                        console.log('[ZW player]', '正在等待');
                        break;
                    case 'ended':
                        console.log('[ZW player]', '播放结束');
                        break;
                    case 'error':
                        console.log('[ZW player]', '播放错误');
                        initZw();
                        break;
                }

            },
        };
        zw = new ZWPlayer(info);
    }

    document.addEventListener('DOMContentLoaded', function () {
        initZw();
        if (window.self !== window.top) {
            if ("[[${key}]]" === "[[${lastKey}]]") {
                console.log("on reload player", "[[${key}]]");
                // initZw();
            } else {
                console.log("on load player", "current: [[${key}]]", "last: [[${lastKey}]]");
            }
        } else {
            console.log("on load player");
        }
    });
</script>
</body>