.custom-container {
    margin: 0 auto !important;
    background: black !important;
    overflow: hidden !important;
}

.custom-music-container, .custom-picture-container {
    margin: 0 auto !important;
    overflow: hidden !important;
}

.swiper-item-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: black;
}

.custom-style {
    width: 100vw !important;
    height: 100vh !important;
    aspect-ratio: unset !important;
}

.video-container {
    height: 100vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.swiper {
    width: 100vw;
    height: 100vh;
}

.custom-pagination-style {
    background: darkgray;
    opacity: 0.8;
    border-radius: 10px;
    padding: 5px 20px;
}

.custom-pagination-style > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 50% !important;
    width: unset !important;
    position: absolute;
    transform: translate(-50%, 0);
}

.dk-video-player-custom, .zw-video-player-custom {
    height: 100vh;
}

/*iphone X 适配*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .dplayer-mobile-play {
        width: 125px !important;
        height: 125px !important;
    }
}

/*iphone 6/7/8 适配*/
@media only screen and (device-width: 375px) and (device-height: 667px) {
    .dplayer-mobile-play {
        width: 125px !important;
        height: 125px !important;
    }
}

/*iPhone 5/SE适配*/
@media only screen and (device-width: 320px) and (device-height: 568px) {
    .dplayer-mobile-play {
        width: 125px !important;
        height: 125px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .swiper-img-style {
        width: 100%;
        height: auto;
    }

    .swiper-item-container {
        display: grid;
        place-items: center; /* 同时实现水平和垂直居中 */
        height: 100vh; /* 容器高度，根据需要设置 */
    }
}

@media only screen and (min-width: 1200px) {
    .swiper-img-style {
        height: 100%;
        object-fit: cover;
    }
}