@keyframes download-txt {
    0% {
        content: "下载将于数秒内开始.";
    }
    50% {
        content: "下载将于数秒内开始..";
    }
    100% {
        content: "下载将于数秒内开始...";
    }
}

h1::after {
    animation: download-txt 5s infinite !important;
    content: "";
}